<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="E:/20212025-IT/20242025-1/IntelliJ/DemoTestNG/src">
        <packages>
            <package name="com.myngoc.demotestng.testcases.customer_testcases"/>
            <package name="com.myngoc.demotestng.testcases.admin_testcases"/>
        </packages>
    </test>
</suite>